HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env

application-third-party.yaml
nohup.out

### 책, 대여 정보 insert query 관련 파일 ###
script/input/book_list.csv
script/output/generated_book_insert_query.txt
script/output/generated_rental_insert_query.txt
script/output/match_title_list.txt
script/output/mismath_title_list.txt
script/output/no_search_result_title_list.txt

#local property
application-local.yaml
